/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: white;
    color: #ff69b4;
}

.about-us {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

h1 {
    height: 25vh; /* 25% of the viewport height */
    text-align: center;
    margin: 0; /* Remove margin for accurate height */
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ff69b4;
    background: linear-gradient(to right, rgba(255, 192, 203, 0.99), rgba(0, 0, 0, 0.183));
    font-size: 2.5rem; /* Adjust as per requirement */
}


/* Row Styles */
.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
}

.reverse-row {
    flex-direction: row-reverse;
}

/* Text Box */
.text-box {
    flex: 1;
    padding: 20px;
    background: #fff;
    color: black;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.text-box h2 {
    margin-bottom: 10px;
    color: #ff69b4;
}

.text-box p, .text-box ul {
    font-size: 22px;
    line-height: 1.5;
}

.text-box ul {
    padding-left: 20px;
    list-style: disc;
}

/* Image Box */
.image-box {
    flex: 1;
    padding: 10px;
}

.image-box img {
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

/* Footer Styles */
footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px 0;
}

footer h3 {
    margin-bottom: 10px;
    color: #ff69b4;
}
